#bio{
    padding-top: 5em;
    padding-bottom: 5em;
}

#bio img{
    width: 70%;
}

#footer {
    text-align: center;
    background-color: rgb(33,37,41);
    color: white;

   }
   #footer p {
    text-align: center;
    color: white;
    padding-top: 2em;
   }